extends layout

block content
  body(class='green_background')
    div(class='row row-no-padding')
      div(id='header')
        div(class='nav')
          nav(class='navbar navbar-dark' id='nav')
            button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarToggleExternalContent' aria-controls='navbarToggleExternalContent' aria-expanded='false' aria-label='Toggle navigation')
              span(class='navbar-toggler-icon')
        div(class='center')
          h1 Slice of Pacific
          h2= title
      div(class='pos-f-t')
        div(class='collapse' id='navbarToggleExternalContent')
          div(class='p-4')
            button(class='btn btn-secondary') Home
            button(class='btn btn-secondary') Edit Profile
            button(class='btn btn-secondary') Logout
    br
    br
    if toppings
      ul
        for tops in toppings
          li!=tops
    br
    a(href='/')
      button(class='go_button') Go
    br 