<!--
 * File Name:     index.pug
 * Date:          11/27/2020
 * Assignment:    Final Group Assignment
 * Purpose :      Temporary page to test controllers and the database
-->

extends layout

block content
  h1= title
  p=title
  p Welcome To A Test Page!
