doctype html
html(class='h-100')
  head
    include head.pug
  body(class='green_background h-100')
    div(class='row row-no-padding')
      div(id='header')
        div(class='center')
          h1 Slice of Pacific
    div(class='row m-3')
    div(class='container h-100')
      div(class='row h-100 justify-content-center align-items-center screenHeight')
        div(class='col-xs-3 col-no-padding')
          div(class='content_area text-center')  
            block content