div(class='row row-no-padding')
  div(id='header')
    div(class='nav')
      nav(class='navbar navbar-dark' id='nav')
        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarToggleExternalContent' aria-controls='navbarToggleExternalContent' aria-expanded='false' aria-label='Toggle navigation')
          span(class='navbar-toggler-icon')
    div(class='center')
      h1 Slice of Pacific
  div(class='pos-f-t')
    div(class='collapse' id='navbarToggleExternalContent')
      div(class=' p-4')
        button(class='btn btn-secondary') Home
        button(class='btn btn-secondary') Edit Profile
        button(class='btn btn-secondary') Logout
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')