

html{
  margin: 0;
  padding: 0;
  align-content: center;
  width: 100%;
}
body{
  padding: 0;
  margin: auto;
  width: 100%;
}
.green_background{
  background-color: rgba(112, 130, 56, 68);
}
.bg_dark{
  background-color: rgba(193, 39, 45, 68);
}

.content_area {
  background-color: rgba(193, 39, 45, 68);
  border: 10px solid rgba(255, 156, 77, 68);
  box-shadow: 4px 3px 8px 1px #000000;
  
}
#header{
  border-top: 20px solid rgba(255, 156, 77, 68);
  border-bottom: 20px solid rgba(255, 156, 77, 68);
  background-color: rgba(193, 39, 45, 68);
  text-align: center;
  width: 100%;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}
.center{
  margin: auto;
  text-align: center;
}
form {
  padding: 20px;
}
#nav {
  position: absolute;
}


/* CSS Used on the Landing and Login */
.orange {
  background-color: rgba(255, 156, 77, 68);
}

.scalingButtons {
  font-size: 2vw;
}

.scalingHeader {
  font-size: 4vw;
}

.scalingErrors {
  font-size: 1vw;
  font-family: 'Roboto Slab', serif;
}

.scalingText {
  font-size: 2vw;
  font-family: 'Roboto Slab', serif;
}

.scalingImage {
  max-width: 150px;
  width: 100%;
  height: auto;
}

/* 1024 and smaller
@media screen and (max-width: 1024px) {
  .scalingButtons {
    font-size: 4vw;
  }
  
  .scalingHeader {
    font-size: 7vw;
  }

  .scalingErrors {
    font-size: 3vw;
  }

  .scalingText {
    font-size: 3vw;
  }
}

@media screen and (max-width: 900px) {
  .scalingButtons {
    font-size: 5vw;
  }
  
  .scalingHeader {
    font-size: 7vw;
  }

  .scalingErrors {
    font-size: 3vw;
  }

  .scalingText {
    font-size: 4.5vw;
  }
}*/

@media screen and (max-width: 600px) {
  .scalingButtons {
    font-size: 18px;
  }
  
  .scalingHeader {
    font-size: 7vw;
  }

  .scalingErrors {
    font-size: 13px;
  }

  .scalingText {
    font-size: 16px;
  }
} 

.screenHeight {
  height: 70%!important;
}