html{
  margin: 0;
  padding: 0;
  align-content: center;
  width: 100%;
}
body{
  padding: 0;
  margin: auto;
  width: 100%;
}
.green_background{
  background-color: rgba(112, 130, 56, 68);
}
.bg_dark{
  background-color: rgba(193, 39, 45, 68);
}

.content_area {
  height: 10px;
  width: 10px;
  background-color: rgba(193, 39, 45, 68);
  border: 10px solid rgba(255, 156, 77, 68);
  box-shadow: 4px 3px 8px 1px #000000;
  border-radius: 10px;
}
#header{
  border-top: 20px solid rgba(255, 156, 77, 68);
  border-bottom: 20px solid rgba(255, 156, 77, 68);
  background-color: rgba(193, 39, 45, 68);
  text-align: center;
  width: 100%;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}
h2{
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}
.center{
  margin: auto;
  text-align: center;
}
form {
  padding: 20px;
}
#nav {
  position: absolute;
}

.table_button {
  background-color: rgba(112, 130, 56, 68);
  border: none;
  width: 60px;
  height: 10px;
}

.table_button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.go_button {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 156, 77, 68);
  border: 2px solid rgba(255, 156, 77, 68);
  box-shadow: 4px 3px 8px 1px #000000;
  color: white;
  font-family: 'Roboto Slab', serif;
  border-radius: 12px;
  display: block;
  width: 150px;
  height: 30px;
  font-size: 20px;
}

a:active {
  text-decoration: none;
}

.go_button:active {
  transform: scale(1.1);
  outline: none;
}

a:hover {
  text-decoration: none;
}

.go_button:hover {
  transform: scale(1.1);
  border: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}