/****************************************************************************
 * File Name:     style.css
 * Date:          11/16/2020
 * Assignment:    Final Group Assignment
 * Purpose :      Styling options for the website
****************************************************************************/


html{
  margin: 0;
  padding: 0;
  align-content: center;
  width: 100%;
}
body{
  padding: 0;
  margin: auto;
  width: 100%;
}
.green_background{
  background-color: rgba(112, 130, 56, 68);
}
.bg_dark{
  background-color: rgba(193, 39, 45, 68);
}

.content_area {
  background-color: rgba(193, 39, 45, 68);
  border: 10px solid rgba(255, 156, 77, 68);
  box-shadow: 4px 3px 8px 1px #000000;
  
}
#header{
  border-top: 20px solid rgba(255, 156, 77, 68);
  border-bottom: 20px solid rgba(255, 156, 77, 68);
  background-color: rgba(193, 39, 45, 68);
  text-align: center;
  width: 100%;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}
.center{
  margin: auto;
  text-align: center;
}
form {
  padding: 20px;
}
#nav {
  position: absolute;
}


/* CSS Used on the Landing and Login */
.scalingHeader {
  font-size: 2em;
}

.scalingErrors {
  font-size: 1em;
  line-height: 1.375em;
  font-family: 'Roboto Slab', serif;
}

.scalingText, .scalingButtons {
  font-size: 2em;
  line-height: 1.375em;
  font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 700px) {
  .scalingButtons, .scalingText {
    font-size: 16px;
  }
  
  .scalingHeader {
    font-size: 8vw;
  }

  .scalingErrors {
    font-size: 13px;
  }
}

.scalingImage {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.screenHeight {
  height: 70%!important;
}
#piechart{
  margin: 0;
  padding: 0;
  min-width: fit-content;
  min-height: fit-content;
  max-width: 90vw;
  margin: auto;
}